<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
      class="w-100"
      alt="hollywood sign"
    />
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Columns with stretched link</h5>
    <p>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
      sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
    </p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>